.untitled-page.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.untitled-page .content_box4 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 895px;
  width: 1440px;
  height: 129px;
  min-height: 129px;
}
.untitled-page .flex_col {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 129px;
}
.untitled-page .content_box1 {
  display: flex;
  flex-direction: column;
  background-color: red;
}
.untitled-page .info {
  margin: 9px 0px 10px 10.69%;
  width: 57px;
  font: 400 12px/1.25 "Inter", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .content_box {
  display: flex;
  flex-direction: column;
  background-color: red;
}
.untitled-page .flex_row {
  display: flex;
  align-items: center;
  margin: 0px auto 17px;
  width: 85.56%;
}
.untitled-page .image3 {
  width: 161px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
}
.untitled-page .rect2 {
  width: 910px;
  height: 52px;
  min-height: 52px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}
.untitled-page .content_box3 {
  position: absolute;
  top: 9px;
  left: 281px;
  display: flex;
  flex-direction: column;
  width: 965px;
  height: 92px;
}
.untitled-page .flex_row1 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 965px;
  height: 92px;
}
.untitled-page .info1 {
  margin: 58px 0px 19px;
  font: 400 12px/1.25 "Inter", Helvetica, Arial, serif;
  color: #4f3c3c;
}
.untitled-page .flex_row2 {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 433px;
}
.untitled-page .info2 {
  margin: 0px 0px 77px;
  font: 400 12px/1.25 "Inter", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .image {
  margin: 3px 0px 79px;
  width: 2px;
  height: 10px;
}
.untitled-page .flex_row3 {
  display: flex;
  gap: 0px 28px;
  width: 298px;
}
.untitled-page .flex_col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px 0px;
  width: 135px;
}
.untitled-page .info3 {
  font: 400 12px/1.25 "Inter", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .flex_row4 {
  display: flex;
  align-items: center;
  gap: 0px 27px;
  width: 100%;
}
.untitled-page .rect3 {
  width: 55px;
  height: 38px;
  min-height: 38px;
  background-color: red;
  border-radius: 5px 5px 5px 5px;
}
.untitled-page .image4 {
  width: 53px;
  height: 52px;
}
.untitled-page .content_box2 {
  position: absolute;
  top: 59px;
  right: 100px;
  display: flex;
  flex-direction: column;
  width: 14px;
  height: 17px;
}
.untitled-page .image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
}
.untitled-page .image2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 6px;
  height: 7px;
}